
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-center style="color: blue; font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 600px; font-size: xx-large;">My Gallery</ion-center>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="margin-left: 300px">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="dark">
    <div class="profile">
      <img src="./assets/me1.jpg"style="width: 15%; height: 50%; margin-left: 3.5%; margin-top: 7%;">
      <img src="./assets/me2.jpg"style="width: 15%; height: 50%; margin-left: 5.5%; margin-top: 7%;">  
      <img src="./assets/me3.jpg"style="width: 15%; height: 50%; margin-left: 5.5%; margin-top: 7%;">
      <img src="./assets/me4.jpg"style="width: 15%; height: 50%; margin-left: 3.5%; margin-top: 7%;">
      <img src="./assets/me5.jpg"style="width: 15%; height: 50%; margin-left: 4.5%; margin-top: 7%;">
      <img src="./assets/me6.jpg"style="width: 15%; height: 50%; margin-left: 3.5%; margin-top: 7.5%;">
      <img src="./assets/me7.jpg"style="width: 15%; height: 50%  margin-left: 55%;   margin-top: 7.5%;">
      <img src="./assets/me8.jpg"style="width: 15%; height: 50%; margin-left: 5.5%; margin-top: 7.7%;">
      <img src="./assets/me9.jpg"style="width: 15%; height: 50%; margin-left: 3.5%; margin-top: 7.5%;">
      <img src="./assets/me10.jpg"style="width: 15%; height:50%; margin-left: 4.5%; margin-top: 7.5%;">
      <img src="./assets/me11.jpg"style="width: 15%; height:50%; margin-left: 3.5%; margin-top: 11%;">  
      <img src="./assets/me12.jpg"style="width: 15%; height: 50%; margin-left: 5%;  margin-top: 11%;">
      <img src="./assets/me13.jpg" style="width:15%; height: 50%; margin-left: 1%; margin-top: 11%;">
      <img src="./assets/me14.jpg"style="width: 15%; height:50%; margin-left: 3.5%; margin-top: 11%;">  
      <img src="./assets/me15.jpg"style="width: 15%; height: 50%; margin-left: 5%;margin-top: 11%;">
  </div>
  </ion-text>
</ion-content>

