<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-center style="color: #24f347; font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 600px; font-size: xx-large;">Contacts</ion-center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="margin-left: 300px;">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <body>
    <ion-app>
   
  
      <ion-content fullscreen>
        <ion-list-header></ion-list-header>
        <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/me.jpg" >
        </ion-avatar>
         <ion-label>Meryl Anne 
        <br><br>09123456787</ion-label>
        </ion-item>
        
        <ion-list>
          <ion-list-header></ion-list-header>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/me12.jpg">
            </ion-avatar>
            <ion-label>Juan Dela Cruz
            <br><br>09123456787</ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/me13.jpg">
            </ion-avatar>
              <ion-label>Jose Reyes
              <br><br>06798313213</ion-label> 
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/me3.jpg">
            </ion-avatar>
            <ion-label>Marimar<br><br>0656989536545</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/me8.jpg">
            </ion-avatar>
              <ion-label>Kat Kat
              <br><br>06798313213</ion-label> 
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/me15.jpg">
            </ion-avatar>
            <ion-label>Babe<br><br>0656989536545</ion-label>
          </ion-item>
        
        </ion-list>
      </ion-content>
    </ion-app>
  </body>
  
    </ion-content>

